# Object files
*.o
*.a
*.dep

#Build & install directories
build/
install/

# Development friendly files
tags

# for rv32xSoC
*.log
*.hex
*.elf
*.gtkw
rv32x_simulation
*.vcd
gtk.sh
copy.sh
*.s
fsbuild/*
OBJDUMP_rv32i
RAM0_80000000-84008000.dat
linux
